.landing {
  display: flex;
  justify-content: center;
}

.headshot {
  top: 0px;
  border-radius: 50%;
  left: 0px;
  width: 50%;
  height: 50%;
  transition: opacity 0.8s ease 0.5s;
}

.main {
  border: 10px solid black;
  height: 90vh;
  width: 90vh;
};
